<div class="card mb-3">
              <div class="card-header">
                <i class="fa fa-bell-o"></i>
                Feed Example
              </div>
   <div class="list-group list-group-flush small">
      <app-notification-card></app-notification-card>
      <app-notification-card></app-notification-card>
      <app-notification-card></app-notification-card>
      <app-notification-card></app-notification-card>
     <a href="#" class="list-group-item list-group-item-action">
        View all activity...
     </a>
   </div>
   <div class="card-footer small text-muted">
    Updated yesterday at 11:59 PM
  </div>
</div>
